@page "/booking/CourtRentalSearch"
@using System.Globalization

    <MudStack Row="true">
    <MudDatePicker Color="Color.Primary" Label="Date" DateFormat="dddd, MMM dd, yyyy" @bind-Date="SelectionDate" />

        <MudSelect T="int" Label="Court" @bind-Value="SelectedCourt">
            <MudSelectItem Value="1" >Court 1 & 2</MudSelectItem>
            <MudSelectItem Value="3" >Court 3 & 4</MudSelectItem>
            <MudSelectItem Value="5" >Court 5 & 6</MudSelectItem>
            <MudSelectItem Value="7" >Court 7 & 8</MudSelectItem>
            <MudSelectItem Value="9" >Court 9 & 10</MudSelectItem>
            <MudSelectItem Value="11" >Court 11 & 12</MudSelectItem>
            <MudSelectItem Value="13" >Court 13 & 14</MudSelectItem>
            <MudSelectItem Value="15" >Court 15 & 16</MudSelectItem>
            <MudSelectItem Value="17" >Court 17</MudSelectItem>

        </MudSelect>
        
        </MudStack>
    <MudPaper Class="overflow-y-scroll" Style="max-height: 800px;">
    <MudStack Row="true">
    <MudCalendar @ref="_myCalendar1" CellClicked="CellClicked" ItemClicked="ItemClicked"
                     CurrentDay="@_currentDay"
                     DayStartTime="@_dayStartTime"
                     DayTimeInterval="CalendarTimeInterval.Minutes20"
                 DayCellHeight="50"
                 T="CourtViewItem"
                 View="CalendarView.Day"
                 Height="3700"
                 ShowPrevNextButtons="false"
                 ShowDatePicker="false"
                 ShowMonth="false"
                 ShowWeek="false"
                 ShowToolbar="false"
                 Items="@_vm.Items">
            <CellTemplate>
                <div style="width: 100%; height: 100%; border: 2px solid">
                    <div><MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">@(context.Title)</MudText></div>
                    @* <div class="pa-2"><MudText Typo="Typo.body2">@context.Text</MudText></div> *@
                <MudPaper>
                            @{
                                foreach (var person in context.CourtRental.CourtRentalShares)
                                {
                                    @if(person.AmountTotal - person.AmountPaid > 0)
                                    {
                                    var toolTip = $"Debt: {(person.AmountTotal - person.AmountPaid).ToString("N0")} kr";
                                    <MudTooltip Text=@toolTip Placement="Placement.Top">
                                        <MudChip T="string" Variant="Variant.Text" Color="Color.Error">@person.Customer.Name&nbsp;</MudChip>
                                        </MudTooltip>
                                    }
                                    else
                                    {
                                        <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">@person.Customer.Name&nbsp;</MudChip>
                                    }                                    
                                }
                        
    }

                    </MudPaper>
                </div>
            </CellTemplate>

        </MudCalendar>
<MudCalendar @ref="_myCalendar2" CellClicked="CellClicked" ItemClicked="ItemClicked"
    CurrentDay="@_currentDay"
            DayStartTime="@_dayStartTime"
             DayTimeInterval="CalendarTimeInterval.Minutes20"
             DayCellHeight="50"
             T="CourtViewItem"
             Height="3700"
             View="CalendarView.Day"
             ShowPrevNextButtons="false"
             ShowDatePicker="false"
             ShowMonth="false"
             ShowWeek="false"
             ShowToolbar="false"
             Items="@_vm2.Items">
    <CellTemplate>
        <div style="width: 100%; height: 100%; border: 2px solid">
            <div><MudText Style="color: #ffffff;" Typo="Typo.body1" Align="Align.Center">@(context.Title)</MudText></div>
                    <MudPaper>
                        @{
                            foreach (var person in context.CourtRental.CourtRentalShares)
                            {
                                @if (person.AmountTotal - person.AmountPaid > 0)
                                {
                                    var toolTip = $"Unpaid: {(person.AmountTotal - person.AmountPaid).ToString("N0")} kr";
                                    <MudTooltip Text=@toolTip Placement="Placement.Top">
                                        <MudChip T="string" Variant="Variant.Text" Color="Color.Error">@person.Customer.Name&nbsp;</MudChip>
                                    </MudTooltip>
                                }
                                else
                                {
                                    <MudChip T="string" Variant="Variant.Text" Color="Color.Primary">@person.Customer.Name&nbsp;</MudChip>
                                }
                            }

                        }

                    </MudPaper>
        </div>
    </CellTemplate>

</MudCalendar>
    </MudStack>
</MudPaper>

@code {    
    
} 